@font-face {
    font-family: CustomPixelated;
    src: url('PixeloidSans-mLxMm.ttf') format('truetype');
}

body {
    background-color: black;
    margin: 0 0 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-element {
    flex-grow: 1;
}

.title {
    font: 70px CustomPixelated;
    color: yellow;
    text-align: center;
    margin: 0;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-link {
    font: 30px CustomPixelated;
    color: yellow;
    width: 300px;
    text-align: center;
}

.current-nav-link, .nav-link:hover {
    font-size: 40px;
}

.nav-link:active {
    font-size: 40px;
    color: orange;
}

.game-container {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.game {
    height: fit-content;
    margin: auto 0 0;
}

.lives {
    left: 20;
    top: 10;
    position: absolute;
    display: flex;
}

.live {
    width: 30px;
    height: 30px;
    background-color: red;
    margin-right: 20px;
}

.desciption {
    font: 20px CustomPixelated;
    color: white;
    padding: 0 10px 0;
}

.footer {
    font: 20px CustomPixelated;
    color: yellow;
    text-align: center;
}
