@font-face {
    font-family: PixeloidSans;
    src: url('fonts/PixeloidSans.ttf') format('truetype');
}

@font-face {
    font-family: PixeloidSans;
    src: url('fonts/PixeloidSansBold.ttf') format('truetype');
    font-weight: bold;
}

body {
    background-color: black;
    margin: 0 0 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-element {
    flex-grow: 1;
}

.title {
    font: bold 70px PixeloidSans;

    color: yellow;
    text-align: center;
    margin: 0;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-link {
    font: 30px PixeloidSans;
    color: yellow;
    width: 300px;
    text-align: center;
}

.current-nav-link, .nav-link:hover {
    font-size: 40px;
}

.nav-link:active {
    font-size: 40px;
    color: orange;
}

.game-container {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.game {
    height: fit-content;
    margin: auto 0 0;
}

.lives {
    left: 20;
    top: 10;
    position: absolute;
    display: flex;
}

.live {
    width: 27px;
    height: 27px;
    margin-right: 20px;
    image-rendering: pixelated;
}

.sprite {
    display: none;
    image-rendering: pixelated;
    
}

.desciption {
    font: 20px PixeloidSans;
    color: white;
    padding: 0 10px 0;
}

.footer {
    font: 20px PixeloidSans;
    color: yellow;
    text-align: center;
}

.gameover {
    font: bold 200px PixeloidSans;
    color: yellow;
    text-align: center;
    margin: 100px 0 40px
}

.save-score-form {
    width: fit-content;
    margin: 0 auto 0;
}

.input-label {
    font: 50px PixeloidSans;
    color: yellow;
}

.text-field {
    font: 40px PixeloidSans;
    color: yellow;
    background-color: black;
    border: 0;
    border-bottom: 2px solid yellow;
    outline: 0;
}

.submit-button {
    font: 40px PixeloidSans;
    color: yellow;
    background-color: black;
    border: 0;
    margin: 10px auto 0;
    display: block;
}
