@font-face {
    font-family: PixeloidSans;
    src: url('fonts/PixeloidSans.ttf') format('truetype');
}

@font-face {
    font-family: PixeloidSans;
    src: url('fonts/PixeloidSansBold.ttf') format('truetype');
    font-weight: bold;
}

body {
    background-color: black;
    margin: 0 0 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.main-element {
    flex-grow: 1;
}

.title {
    font: bold 70px PixeloidSans;

    color: yellow;
    text-align: center;
    margin: 0;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.nav-link {
    font: 30px PixeloidSans;
    color: yellow;
    width: 350px;
    text-align: center;
}

.current-nav-link, .nav-link:hover {
    font-size: 40px;
}

.nav-link:active {
    font-size: 40px;
    color: orange;
}

.game-container {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.game {
    height: fit-content;
    margin: auto 0 0;
}

.lives {
    left: 20px;
    top: 10px;
    position: absolute;
    display: flex;
}

.live {
    width: 27px;
    height: 27px;
    margin-right: 20px;
    image-rendering: pixelated;
}

#score {
    font: 30px PixeloidSans;
    color: yellow;

    position: absolute;
    right: 20px;
    top: 10px;

    margin: 0 0 0;
}

.sprite {
    display: none;
    image-rendering: pixelated;
    
}

.info-container {
    display: flex;
}

.info-text {
    font: 20px PixeloidSans;
    color: white;
    padding-left: 50px;
}

.info-images {
    image-rendering: pixelated;
    padding-right: 50px;
    text-align: right;
}

.info-image {
    padding-bottom: 20px;
}

.footer {
    font: 20px PixeloidSans;
    color: yellow;
    text-align: center;
}

.gameover {
    font: bold 200px PixeloidSans;
    color: yellow;
    text-align: center;
    margin: 100px 0 20px
}

#save-score-form {
    width: fit-content;
    margin: 0 auto 0;
}

.input-label {
    font: 50px PixeloidSans;
    color: yellow;
}

.text-field {
    font: 50px PixeloidSans;
    color: yellow;
    background-color: black;
    border: 0;
    border-bottom: 2px solid yellow;
    outline: 0;
}

.submit-button {
    font: 50px PixeloidSans;
    color: yellow;
    background-color: black;
    border: 0;
    margin: 10px auto 0;
    display: block;
}

.cancel-button {
    font: 30px PixeloidSans;
    color: yellow;
    background-color: black;
    border: 0;
    margin: 10px auto 0;
    display: block;
    text-align: center;
    text-decoration: none;
}

.gameover-score-text {
    font: 50px PixeloidSans;
    color: yellow;
    text-align: center;
    margin: 0 0 0;
}

.records-table {
    font: 20px PixeloidSans;
    color: white;
    margin: 0 auto 0;
    width: 50%;
    border-collapse: collapse;
}

.records-table-head {
    color: yellow;
    border-bottom: 10px solid transparent;
}

.records-table-place-column {
    text-align: right;
    padding-right: 10px;
    width: 50px;
}

.records-table-name-column-header {
    text-align: left;
    display: flex;
}

.filter-field {
    font: 20px PixeloidSans;
    color: yellow;
    background-color: black;
    border: 0;
    border-bottom: 2px solid yellow;
    outline: 0;
    flex-grow: 1;
}

.records-table-name-column {
    text-align: left;
}

.records-table-score-column {
    text-align: right;
}

.records-table-row:hover {
    background-color: #555555;
}
